<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Sunshine Coast Council – Event Application{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

  <header class="site-header">
    <a href="{{ url_for('index') }}">
      <img src="{{ url_for('static', filename='images/council_logo.png') }}" class="logo" alt="Council Logo">
    </a>
    <h1 class="site-title">Sunshine Coast Council – Event Permit Application</h1>
  </header>

  <main class="site-main">
    {% block content %}{% endblock %}
  </main>

  <script src="{{ url_for('static', filename='js/form.js') }}"></script>
  <script src="{{ url_for('static', filename='js/location.js') }}"></script>
  <script src="{{ url_for('static', filename='js/eligibility.js') }}"></script>
  <!-- ArcGIS JS API -->
  <link rel="stylesheet" href="https://js.arcgis.com/4.29/esri/themes/light/main.css">
  <script src="https://js.arcgis.com/4.29/"></script>


</body>
</html>
